{% extends "layout.html" %}
{% block title %}
    Log In
{% endblock %}

{% block main %}
    <style>
        img
        {
            width: 350px;
            height: 300px;
        }
        textarea
        {
            width: 420px;
            height: 300px;
        }
        p
        {
            width: 350px;
            height: 300px;
        }
    </style>

    <p>
        <img src= "{{ url_for('static', filename= filename) }}"/>
    </p>

    <textarea style="">
        {% for data in filedata %}
            {{ data }}
        {% endfor %}
    </textarea>

    </p>
{% endblock %}