{% extends "layout.html" %}
{% block title %}
    Log In
{% endblock %}
<style>
</style>
{% block main %}



<div>


    <div>





    </div>

    <div class="row" id="row" style=" margin-right:50px;margin-left: 50px;">
  <div class="col-sm-12">
    <p class="bg-primary" align="center">
        This website is for you!<br>  here you can save your rough tough book
        into your favrouite editable format just upload your file
    </p>
    <form class="form-control" action="{{ url_for('fileupload') }}" method="post" enctype=multipart/form-data>
        <input type=file name=file>
        <div>
            <p class="size" data-dz-size></p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
            </div>
        </div>
        <div>
                <input type="submit" class="btn btn-primary" name="start" value="image">
                <input type="submit" class="btn btn-warning" name="start" value="pdf">
                <input type="submit" class="btn btn-danger" name="delete" value="delete">
        </div>
    </form>
  </div>
</div>



</div>


<script>
    $(document).ready(function(){
    $("#row").hide();
        alert("java sceipt run");
});
</script>
{% endblock %}
